.modalContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .mainModal {
        display: flex;

        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: var(--bgr-modal-shadow);
    }
    .modalBody {
        display: flex;
        width: 90%;
        max-width: 450px;
        border: 2px solid var(--primary-color);
        border-radius: 1rem;
        background-color: var(--white-color);

        padding: 3rem;
        .boxBtn {
            display: flex;
            justify-content: space-around;

            width: 100%;
            .btn {
                width: 9rem;
                height: 3rem;
                border-radius: 0.5rem;
                font-size: 1.3rem;
                text-transform: none;
            }

            .btnCancel {
                background-color: var(--btn-cancel);
                border-color: var(--btn-cancel-border);

                &:hover {
                    box-shadow: 0 0 0.5rem 0 var(--btn-cancel-shadow);
                }
            }
        }
    }
}

.modalContainer.isOpen {
    display: block;
}
