.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .title {
        text-transform: capitalize;
        font-size: 1.2rem;
        font-weight: 300;
    }
}

.body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--white-color);

    .showPercent {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--bgr-modal-shadow);
        display: flex;
        align-items: center;
        justify-content: center;
        .text {
            font-size: 1.4rem;
            color: var(--white-color);
            margin-right: unset !important;
        }
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.body.isEagle {
    border: 0.15rem solid var(--eagle-color);
    box-shadow: 0 0 0.8rem 0 var(--eagle-shadow);
}

.body.isEagle + .title {
    color: var(--eagle-color);
}

.body.isOwl {
    border: 0.15rem solid var(--owl-color);
    box-shadow: 0 0 0.8rem 0 var(--owl-shadow);
}

.body.isOwl + .title {
    color: var(--owl-color);
}

.body.isPeacock {
    border: 0.15rem solid var(--peacock-color);
    box-shadow: 0 0 0.8rem 0 var(--peacock-shadow);
}

.body.isPeacock + .title {
    color: var(--peacock-color);
}

.body.isDove {
    border: 0.15rem solid var(--dove-color);
    box-shadow: 0 0 0.8rem 0 var(--dove-shadow);
}

.body.isDove + .title {
    color: var(--dove-color);
}

//modal
.boxModal {
    width: 95% !important;
    max-width: 900px !important;
    padding: 3rem 0 !important;
}
// //RESPONSIVE
// @media (max-width: 768px) {
//     .avatar {
//         width: 5.5rem;
//         height: 5.5rem;
//     }
// }

// @media (max-width: 468px) {
//     .avatar {
//         width: 5rem;
//         height: 5rem;
//     }
// }
