.container {
    justify-content: flex-start !important;
    padding-top: 4rem;

    .boxSelect {
        display: none;
        width: 100%;
        margin-bottom: 5rem;
        padding: 0 3rem;
        max-width: 500px;
        justify-content: space-between;

        .btn {
            font-size: 1.4rem;
            font-weight: 500;
            text-transform: uppercase;
        }

        .btn.btn2 {
            background-color: var(--btn-yellow);
            border-color: var(--btn-border-yellow);
            color: var(--text-black-color);

            &:hover {
                box-shadow: 0 0 0.8rem 0 var(--btn-yellow-shadow);
            }
        }
    }

    .boxBtn {
        display: flex;
        justify-content: space-between;

        width: 95%;
        max-width: 40rem;
        height: 4rem;
        background-color: var(--white-color);
        border: 0.1rem solid var(--primary-color);

        margin-top: 2rem;

        .line {
            width: 0.1rem;
            height: 100%;
            background-color: var(--primary-color);
        }

        .btn {
            width: 50%;
            height: 100%;
            background-color: var(--white-color);
            color: var(--text-black-color);
            font-size: 1.4rem;
            font-weight: 500;
            border: unset;
            border-radius: 0;
            overflow: hidden;
            text-transform: none;
            transition: unset;
        }

        .btn.btnPersonal {
            position: relative;
            overflow: unset;

            &:hover {
                letter-spacing: 0;
            }

            .iconShow {
                position: absolute;
                // top: 100%;
                right: 0.5rem;

                margin-left: 0.5rem;
                font-size: 1.6rem;
            }
        }

        .bodyBtnPersonal {
            display: none;
            position: absolute;
            top: 4rem;
            background-color: var(--bgr-main-color);
            width: 100%;

            border: 2px solid var(--primary-color);
            z-index: 1000;
            .selectItem {
                color: var(--text-black-color);
                border-radius: unset;
                height: 4rem;

                &:nth-child(1) {
                    border-bottom: 1.5px solid var(--primary-color);
                }

                &:hover {
                    letter-spacing: normal;
                    background-color: var(--primary-shadow);
                }
            }

            .selectItem.active {
                color: var(--white-color);
                background-color: var(--btn-green-color3);
            }
        }
        .bodyBtnPersonal.isShow {
            display: block;
        }

        .btn.active {
            background-color: var(--btn-green-color2);
            color: var(--white-color);
        }
    }
}

.contentModal {
    .title {
        font-size: 1.6rem;
        color: var(--primary-color);
        font-weight: 300;
        text-transform: uppercase;
    }

    .boxRadio {
        width: 100%;
        margin: 2rem auto 3.5rem;
        margin-left: 1.5rem;
        display: flex;
        justify-content: space-between;
    }
}

//RESPONSIVE
@media (max-width: 1110px) {
    .container .boxSelect {
        display: flex;
    }
}
