.boxInputContainer {
    width: 100%;
    max-width: 500px;
    text-align: left;
    margin-bottom: 2rem;

    h3 {
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--text-black-color);
        margin-bottom: 1rem;

        span {
            color: var(--red-color);
        }
    }

    input {
        font-size: 1.6rem;
        color: var(--text-black-color);
        font-weight: 300;
        background-color: unset;
        border: none;
        border-bottom: 1px solid var(--primary-color);
        width: 100%;
        padding-bottom: 0.8rem;
        margin-bottom: 1.8rem;
    }

    input.err {
        border-bottom-color: var(--text-red-color);
    }

    .mesErr {
        font-size: 1.2rem;
        color: var(--text-red-color);
        display: block;
        margin-top: -1rem;
    }
}
